name: OS Compatibility Test

on:
  pull_request:
    branches: 
      - main
  push:
    branches:
      - main

jobs:
  comp_test:
    strategy:
      matrix:
        os: [windows-2022, windows-2019, macos-11, macos-10.15]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test,full]
    - name: Setup Git
      run: |
        git config --global receive.denyCurrentBranch updateInstead
        git config --global init.defaultBranch main
        git config --global user.email "leo@dumbartonserum.com"
        git config --global user.name "Leo Dumbarton"
    - name: Test
      env:
        POSTGRES_HOST: sqlite
      run: |
        branb test
